/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 1, 2024, 7:25:14 AM
    Author     : nguye
*/

.main-form{
    -fx-border-color:  #7791A3;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.top-form{
    -fx-background-color: linear-gradient(to right, #344250, #3c6382);
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.pane-room{
    -fx-background-color: #3B7269;
    -fx-background-radius: 10px 0px 35px 35px;
}